package layouts

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/_/static/css/style.css"/>
			<script src="/_/static/js/htmx.min.js" defer></script>
		</head>
		<body class="min-h-screen bg-zinc-100 text-zinc-900">
			{ children... }
		</body>
	</html>
}
